{:aliases 
 {
  :web {:extra-deps {hiccup/hiccup {:mvn/version "2.0.0-alpha2"}
                     clj-http/clj-http     {:mvn/version "3.12.3"}
                     cheshire/cheshire     {:mvn/version "5.10.1"}
                     org.clojure/data.json {:mvn/version "2.4.0"}
                     functionalbytes/rmap  {:mvn/version "2.2.0"}}}
  :dev {:extra-paths []
        :extra-deps  {org.clojure/clojure          {:mvn/version "1.10.3"}
                      org.clojure/tools.deps.alpha {:mvn/version "0.11.926"}

                      criterium/criterium          {:mvn/version "0.4.6"}
                               ;; sheets
                      }}}}
